/* style.css */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1000;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    position: relative;
    background: black;
}
.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    animation: netflixSlide 20s infinite ease-in-out;
}
@keyframes netflixSlide {
    0%, 100% { background-image: url('1.jpg'); transform: scale(1); }
    25% { background-image: url('5.jpg'); transform: scale(1.1); }
    50% { background-image: url('2.jpg'); transform: scale(1.2); }
    75% { background-image: url('4.jpg'); transform: scale(1.1); }
}
.container {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b, #36d1dc, #5b86e5);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
h1:hover {
    transform: scale(1.1);
    text-shadow: 4px 4px 12px rgba(255, 255, 255, 0.9);
}
.btn-custom {
    padding: 15px 50px;
    font-size: 1.4rem;
    margin: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn-prometheus {
    background: linear-gradient(135deg, #ff512f, #dd2476);
}
.btn-grafana {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.btn-custom:hover {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.5);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-content {
    background: #333;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    color: white;
}
input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    border: none;
}